{% extends 'forex_logs/base.html' %}

{% block page_title %}Registration{% endblock %}


{% block body %}

    <div class="container-fluid justify-content-center p-auto">
        <p class="display-6">
            Register An Account:
        </p>
    </div>

    <div class="container-fluid w-75 text-bg-light">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Register</button>
        </form>
    </div>

{% endblock %}