{% extends 'forex_logs/base.html' %}

{% block page_title %}
    Delete Confirmation
{% endblock %}

{% block body %}

    <div class="container">
        <p class="display-5">
            Please confirm if you want to delete or cancel
        </p>
    </div>

    <div class="container">
       {% if option == 1 %}
            <a href="{% url 'delete_pair' object.id %}" class="btn btn-danger">Confirm</a>
            <a href="{% url 'currency_pairs' %}" class="btn btn-primary">Cancel</a>
        {% elif option == 2 %}
            <a href="{% url 'delete_pair_price' object.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'pair_price' object.pair.id %}" class="btn btn-primary">Cancel</a>
        {% endif %}
    </div>

{% endblock %}