{% extends 'forex_logs/base.html' %}

{% block page_title %}
    Pair Price
{% endblock %}

{% block body %}

    <div>
       Price For {{ pair.text }}
    </div>

    <div>
        <a href="{% url 'add_price' pair.id %}">Add New Prices</a>
    </div>

    <div>
        <ul>
            {% for price in prices %}
                <li>
                    Open:{{ price.price_open}}
                </li>
                <li>
                    High:{{ price.price_high }}
                </li>
                <li>
                    Low:{{ price.price_low }}
                </li>
                <li>
                    Close:{{ price.price_close }}
                </li>
                <div>
                    Date Inserted: {{ price.date_inserted|date:'M-d-Y,  H:i' }}
                </div>
                <div><a href="{% url 'edit_pair_price' price.id %}">Edit</a> - <a href="{% url 'delete_pair_price' price.id %}">Delete</a></div><br />
            {% empty %}
                <li>
                    No Price Data Yet.
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}