{% extends 'forex_logs/base.html' %}

{% block page_title %}
    Pair Price
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="cdn.jsdelivr.net">
{% endblock %}

{% block body %}

    <div class="container w-50 border-bottom border-3">
       <p class="display-5">
            Price For {{ pair.text }}
       </p>
    </div>

    <div class="container m-0 mt-3 mb-3">
        <a href="{% url 'currency_pairs' %}" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i> BACK</a>
        <a href="{% url 'add_price' pair.id %}" class="btn btn-outline-primary">Add New Prices</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Price Open</th>
                    <th>Price High</th>
                    <th>Price Low</th>
                    <th>Price Close</th>
                    <th>Date Inserted</th>
                </tr>
            </thead>
            <tbody class="table-info">
            {% for price in prices %}
                <tr>
                    <td>{{ price.price_open }}</td>
                    <td>{{ price.price_high}}</td>
                    <td>{{ price.price_low }}</td>
                    <td>{{ price.price_close }}</td>
                    <td>{{ price.date_inserted|date:'M d Y' }}
                        
                    </td>
                </tr>
            {% empty %}
                <div>
                    No Price Data Yet.
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}